<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Web Frameworks
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>
    <ion-card-title>Library Management</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    A library management system is software that is designed to manage all the functions of a library. It helps
    librarian to maintain the database of new books and the books that are borrowed by members along with their due
    dates. </ion-card-content>
</ion-card>


<ion-card>
  <ion-card-header>

    <ion-card-title>F. Scott Fitzgerald</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Francis Scott Key Fitzgerald was an American novelist, essayist, short story writer and screenwriter.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>

    <ion-card-title>Ralph Ellison</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Ralph Waldo Ellison was an American novelist, literary critic, and scholar best known for his novel Invisible Man,
    which won the National Book Award in 1953. </ion-card-content>
</ion-card>